EXPO_PUBLIC_SUPABASE_URL=https://sloeeapbspnxoedkgnah.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsb2VlYXBic3BueG9lZGtnbmFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MTU0MjMsImV4cCI6MjA4OTA5MTQyM30.NWO41v19vLx54R7N3Tn_4wuGOCE4zENst7jy8fCY6To
